
.add-location__form-cont{
	width: 30%;
	z-index:1;
	background-color: white;
	position: absolute;
	border: 3px solid grey;
	box-sizing: border-box;
	padding: 12px;
	border-radius: 6px;
	box-shadow: 2px 2px 5px 1px ;
}

.add-location__form-box{
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}

/* remove spinner from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.add-location__btn{
	position: relative;
	top: 10px;
	z-index:10;
}
