.navbar-cont {
  display: flex;
  justify-content: space-around;
  height: 40px;
  z-index: 10;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
	color: white;
	margin-bottom: 18px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
  color: inherit;
}

a.active {
  color: pink;
  font-weight: bold;
}
